fastapi
uvicorn[standard]
python-dotenv
pydantic
langchain-google-genai
neo4j==5.21.0
python-multipart
langchain-community
duckduckgo-search
ddgs
requests
beautifulsoup4
langchain-hub
fastapi
uvicorn
python-dotenv
neo4j
langchain-google-genai
langchain-core
langchain-community
langchain-agents
langchain-hub
duckduckgo-search