.circular-gallery {
    width: 100%;
    overflow: hidden;
    cursor: grab;
    position:fixed;
    top:50%;
    transform: translateY(-50%);
    z-index:2;
}

.circular-gallery:active {
    cursor: grabbing;   
}
